* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial;
  box-sizing: border-box;
}

header {
  display: block;
  height: 100px;
}

body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

header {
	padding:10px;
}

.main-body {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}

footer {
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
	background:lightgrey;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}


header ul {
  float: right;
}

header li {
  display: inline-block;
  margin: 15px;
}

.main-body * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: middle;
}

footer {
  width: 100%;
}

footer ul:last-child {
  float: right;
}

footer ul:first-child {
  float: left;
}

footer ul li {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

footer a:nth-of-type(n+4){
}

#query_search {
  width: 400px;
}

#submit_search {
  width: 100px;
  position: relative;
  top: 20px;
}