* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Geneva;
  box-sizing: border-box;
  border: thin blue solid;
/*  padding: 2px;*/
}

header {
  width: 100%;
  height: 50px;
  background: dimgray;
}

header * {
  display: inline-block;
  color: whitesmoke;
}

header ul {
  width: 100%;
  height: 100%;
  padding: 2px;
}

header li {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 10px;  
}

.product_header ul li {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

.product_header ul li:first-child {
  font-size: 30px;
}

.product_header ul {
  display: table;
  width: 100%;
  height: 75px;
}
