* {
/*  border: thin blue solid;*/
/*  padding: 2px;*/
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #FFE6CC;
}

div.header-background {
  width: 100%;
  background-color: red;
}

.verticalfix::before {
  height: 100%;
  content: '';
  vertical-align: middle;
  display: inline-block;
}

.clearfix::after {
  content: '';
  display: block;
  clear:both;
}

.header {
/*  white-space: nowrap;*/
  height: 50px;
  background-color: red;
}

.header > * {
  color: white;
  vertical-align: middle;
}

.site-links {
  float: right;
}

.site-links > li {
  height: 50px;
  display: table-cell;
  padding: 3px;
  vertical-align:middle;
}

#notifications ul {
  display: none;
  position: absolute;
  color: black;
  background: grey;
}



#notifications:hover ul {
  display: block;
}

#company-name {
  width: 39%;
  padding-left: 2%;
  text-align: left;
}
 
.container {
 width: 75%;
 margin: 0 auto;
}

div.main-body {
/*  margin-bottom: 50px;*/
  background-color: white;
}

div.main-body h1 {
  padding: 20px;
  padding-bottom: 25px;
}

div.main-body p {
  padding: 10px;
}

div.main-sidebar {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

div.line-divider {
  display: inline-block;
  width: 4px;
  height: 400px;
  content: "";
  vertical-align: 5px;
  background-color: #E6CFB8;
  border-radius: 2px;
  margin-top: 5%;
  margin-bottom: 5%;
}

div.main-content {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

footer {
  padding: 20px;
  background-color: #E6CFB8;
  text-align: right;
  color: #998A7A;
  border-color: #998A7A;
}

footer span {
  float: left;
}

