* {
/*  padding: 2px;*/
/*  border: thin blue solid;*/
}

.posts-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 70%;
  padding: 10px;
  background-color: lightgrey;
}

.post {
  margin-bottom: 10px;
  background-color: white;
/*  margin-bottom: 10px;*/
}

.post:last-child {
  margin-bottom: 0;
}

.post-header * {
  display: block;
  padding: 5px;
}

.post-header div {
/*  padding: 10px;*/
  margin-left: 75px;
  margin-right: auto;
}

.post-header img {
  float: left;
  border: blue solid;
  border-width: 2px;
  margin-top: 4px;
  margin-left: 4px;
  padding: 0px;
}

.time-stamp {
  color: lightgrey;
}

.post-header {
  padding: 20px;
/*  margin-bottom: 5px;*/
  border-bottom: 5px lightgrey solid;
}

.post-header h2 {
  color: blue;
} 

.post-body {
  padding: 20px;
}